HeCBench/build/*
*.bin
HeCBench/results/llvm17_inject/
HeCBench/results/llvm17_inject/**
HeCBench/tools/llvm17_inject/libfi_inject.so
OUT_*.out
ERROR_*.err
old_outputs/
HeCBench/src/logic-resim-cuda/Simulation/toy/NV_NVDLA_partition_o_dc_24x33x55_5x5x55x25_int8_input.vcd
Aurora_Sycl_Golden_Outputs/
