  %idxprom = sext i32 %7 to i64, !dbg !1300
  %arrayidx = getelementptr inbounds i64, ptr %6, i64 %idxprom, !dbg !1300
  store i64 %conv3, ptr %arrayidx, align 8, !dbg !1302
  br label %if.end, !dbg !1300

if.end:                                           ; preds = %if.then, %entry
  ret void, !dbg !1303
}

; Function Attrs: convergent mustprogress noinline norecurse nounwind optnone
define dso_local void @_Z6updatePyy(ptr noalias noundef %Table, i64 noundef %TableSize) #2 !dbg !1304 {
entry:
  %Table.addr = alloca ptr, align 8
  %TableSize.addr = alloca i64, align 8
  %j = alloca i32, align 4
  %ran = alloca i64, align 8
  %i = alloca i64, align 8
  store ptr %Table, ptr %Table.addr, align 8
  call void @llvm.dbg.declare(metadata ptr %Table.addr, metadata !1308, metadata !DIExpression()), !dbg !1309
  store i64 %TableSize, ptr %TableSize.addr, align 8
  call void @llvm.dbg.declare(metadata ptr %TableSize.addr, metadata !1310, metadata !DIExpression()), !dbg !1311
  call void @llvm.dbg.declare(metadata ptr %j, metadata !1312, metadata !DIExpression()), !dbg !1313
  %0 = call i32 @llvm.nvvm.read.ptx.sreg.tid.x(), !dbg !1314
  store i32 %0, ptr %j, align 4, !dbg !1313
  call void @llvm.dbg.declare(metadata ptr %ran, metadata !1316, metadata !DIExpression()), !dbg !1317
  %1 = load i64, ptr %TableSize.addr, align 8, !dbg !1318
  %mul = mul i64 4, %1, !dbg !1318
  %div = udiv i64 %mul, 128, !dbg !1319
  %2 = load i32, ptr %j, align 4, !dbg !1320
  %conv = sext i32 %2 to i64, !dbg !1320
  %mul1 = mul i64 %div, %conv, !dbg !1321
  %call2 = call noundef i64 @_Z11HPCC_startsx(i64 noundef %mul1) #3, !dbg !1322
  store i64 %call2, ptr %ran, align 8, !dbg !1317
  call void @llvm.dbg.declare(metadata ptr %i, metadata !1323, metadata !DIExpression()), !dbg !1325
  store i64 0, ptr %i, align 8, !dbg !1325
!1116 = !DISubprogram(name: "timespec_get", scope: !1068, file: !1068, line: 384, type: !1117, flags: DIFlagPrototyped, spFlags: 0)
!1117 = !DISubroutineType(types: !1118)
!1118 = !{!132, !1119, !132}
!1119 = !DIDerivedType(tag: DW_TAG_pointer_type, baseType: !1109, size: 64)
!1120 = !DIImportedEntity(tag: DW_TAG_imported_module, scope: !1121, entity: !1122, file: !1124, line: 1428)
!1121 = !DINamespace(name: "chrono", scope: !127)
!1122 = !DINamespace(name: "chrono_literals", scope: !1123, exportSymbols: true)
!1123 = !DINamespace(name: "literals", scope: !127, exportSymbols: true)
!1124 = !DIFile(filename: "/usr/lib64/gcc/x86_64-suse-linux/12/../../../../include/c++/12/bits/chrono.h", directory: "")
!1125 = !{ptr @_Z9initTablePyy, !"kernel", i32 1}
!1126 = !{ptr @_Z6updatePyy, !"kernel", i32 1}
!1127 = !{!"clang version 17.0.6 (https://github.com/llvm/llvm-project.git 6009708b4367171ccdbf4b5905cb6a803753fe18)"}
!1128 = !{!"clang version 3.8.0 (tags/RELEASE_380/final)"}
!1129 = distinct !DISubprogram(name: "HPCC_starts", linkageName: "_Z11HPCC_startsx", scope: !10, file: !10, line: 21, type: !1130, scopeLine: 22, flags: DIFlagPrototyped, spFlags: DISPFlagDefinition, unit: !6, retainedNodes: !1133)
!1130 = !DISubroutineType(types: !1131)
!1131 = !{!1132, !9}
!1132 = !DIDerivedType(tag: DW_TAG_typedef, name: "u64Int", file: !10, line: 7, baseType: !802)
!1133 = !{}
!1134 = !DILocalVariable(name: "n", arg: 1, scope: !1129, file: !10, line: 21, type: !9)
!1135 = !DILocation(line: 21, column: 27, scope: !1129)
!1136 = !DILocalVariable(name: "i", scope: !1129, file: !10, line: 23, type: !132)
!1137 = !DILocation(line: 23, column: 7, scope: !1129)
!1138 = !DILocalVariable(name: "j", scope: !1129, file: !10, line: 23, type: !132)
!1139 = !DILocation(line: 23, column: 10, scope: !1129)
!1140 = !DILocalVariable(name: "m2", scope: !1129, file: !10, line: 24, type: !1141)
!1141 = !DICompositeType(tag: DW_TAG_array_type, baseType: !1132, size: 4096, elements: !1142)
!1142 = !{!1143}
!1143 = !DISubrange(count: 64)
!1144 = !DILocation(line: 24, column: 10, scope: !1129)
!1145 = !DILocalVariable(name: "temp", scope: !1129, file: !10, line: 25, type: !1132)
!1146 = !DILocation(line: 25, column: 10, scope: !1129)
!1147 = !DILocalVariable(name: "ran", scope: !1129, file: !10, line: 25, type: !1132)
!1148 = !DILocation(line: 25, column: 16, scope: !1129)
!1149 = !DILocation(line: 27, column: 3, scope: !1129)
!1150 = !DILocation(line: 27, column: 10, scope: !1129)
!1294 = !DILocation(line: 62, column: 7, scope: !1295)
!1295 = distinct !DILexicalBlock(scope: !1272, file: !10, line: 62, column: 7)
!1296 = !DILocation(line: 62, column: 11, scope: !1295)
!1297 = !DILocation(line: 62, column: 9, scope: !1295)
!1298 = !DILocation(line: 62, column: 7, scope: !1272)
!1299 = !DILocation(line: 62, column: 33, scope: !1295)
!1300 = !DILocation(line: 62, column: 22, scope: !1295)
!1301 = !DILocation(line: 62, column: 28, scope: !1295)
!1302 = !DILocation(line: 62, column: 31, scope: !1295)
!1303 = !DILocation(line: 63, column: 1, scope: !1272)
!1304 = distinct !DISubprogram(name: "update", linkageName: "_Z6updatePyy", scope: !10, file: !10, line: 65, type: !1305, scopeLine: 66, flags: DIFlagPrototyped, spFlags: DISPFlagDefinition, unit: !6, retainedNodes: !1133)
!1305 = !DISubroutineType(types: !1306)
!1306 = !{null, !1307, !1276}
!1307 = !DIDerivedType(tag: DW_TAG_restrict_type, baseType: !1275)
!1308 = !DILocalVariable(name: "Table", arg: 1, scope: !1304, file: !10, line: 65, type: !1307)
!1309 = !DILocation(line: 65, column: 45, scope: !1304)
!1310 = !DILocalVariable(name: "TableSize", arg: 2, scope: !1304, file: !10, line: 65, type: !1276)
!1311 = !DILocation(line: 65, column: 65, scope: !1304)
!1312 = !DILocalVariable(name: "j", scope: !1304, file: !10, line: 67, type: !132)
!1313 = !DILocation(line: 67, column: 7, scope: !1304)
!1314 = !DILocation(line: 53, column: 3, scope: !1291, inlinedAt: !1315)
!1315 = distinct !DILocation(line: 67, column: 11, scope: !1304)
!1316 = !DILocalVariable(name: "ran", scope: !1304, file: !10, line: 68, type: !1132)
!1317 = !DILocation(line: 68, column: 10, scope: !1304)
!1318 = !DILocation(line: 68, column: 30, scope: !1304)
!1319 = !DILocation(line: 68, column: 37, scope: !1304)
!1320 = !DILocation(line: 68, column: 45, scope: !1304)
!1321 = !DILocation(line: 68, column: 43, scope: !1304)
!1322 = !DILocation(line: 68, column: 16, scope: !1304)
!1323 = !DILocalVariable(name: "i", scope: !1324, file: !10, line: 69, type: !1132)
!1324 = distinct !DILexicalBlock(scope: !1304, file: !10, line: 69, column: 3)
!1325 = !DILocation(line: 69, column: 15, scope: !1324)
!1326 = !DILocation(line: 69, column: 8, scope: !1324)
!1327 = !DILocation(line: 69, column: 20, scope: !1328)
!1328 = distinct !DILexicalBlock(scope: !1324, file: !10, line: 69, column: 3)
