  %arrayidx = getelementptr inbounds [64 x i64], ptr %m2, i64 0, i64 %idxprom, !dbg !1178
  store i64 %6, ptr %arrayidx, align 8, !dbg !1179
  %8 = load i64, ptr %temp, align 8, !dbg !1180
  %shl = shl i64 %8, 1, !dbg !1181
  %9 = load i64, ptr %temp, align 8, !dbg !1182
  %cmp7 = icmp slt i64 %9, 0, !dbg !1183
  %10 = zext i1 %cmp7 to i64, !dbg !1184
  %cond = select i1 %cmp7, i64 7, i64 0, !dbg !1184
  %xor = xor i64 %shl, %cond, !dbg !1185
  store i64 %xor, ptr %temp, align 8, !dbg !1186
  %11 = load i64, ptr %temp, align 8, !dbg !1187
  %shl8 = shl i64 %11, 1, !dbg !1188
  %12 = load i64, ptr %temp, align 8, !dbg !1189
  %cmp9 = icmp slt i64 %12, 0, !dbg !1190
  %13 = zext i1 %cmp9 to i64, !dbg !1191
  %cond10 = select i1 %cmp9, i64 7, i64 0, !dbg !1191
  %xor11 = xor i64 %shl8, %cond10, !dbg !1192
  store i64 %xor11, ptr %temp, align 8, !dbg !1193
  br label %for.inc, !dbg !1194

for.inc:                                          ; preds = %for.body
  %14 = load i32, ptr %i, align 4, !dbg !1195
  %inc = add nsw i32 %14, 1, !dbg !1195
  store i32 %inc, ptr %i, align 4, !dbg !1195
  br label %for.cond, !dbg !1196, !llvm.loop !1197

for.end:                                          ; preds = %for.cond
  store i32 62, ptr %i, align 4, !dbg !1200
  br label %for.cond12, !dbg !1202

for.cond12:                                       ; preds = %for.inc17, %for.end
  %15 = load i32, ptr %i, align 4, !dbg !1203
  %cmp13 = icmp sge i32 %15, 0, !dbg !1205
  br i1 %cmp13, label %for.body14, label %for.end18, !dbg !1206

  br i1 %tobool28, label %if.then29, label %if.end33, !dbg !1239

if.then29:                                        ; preds = %for.body24
  %23 = load i32, ptr %j, align 4, !dbg !1240
  %idxprom30 = sext i32 %23 to i64, !dbg !1241
  %arrayidx31 = getelementptr inbounds [64 x i64], ptr %m2, i64 0, i64 %idxprom30, !dbg !1241
  %24 = load i64, ptr %arrayidx31, align 8, !dbg !1241
  %25 = load i64, ptr %temp, align 8, !dbg !1242
  %xor32 = xor i64 %25, %24, !dbg !1242
  store i64 %xor32, ptr %temp, align 8, !dbg !1242
  br label %if.end33, !dbg !1243

if.end33:                                         ; preds = %if.then29, %for.body24
  br label %for.inc34, !dbg !1244

for.inc34:                                        ; preds = %if.end33
  %26 = load i32, ptr %j, align 4, !dbg !1245
  %inc35 = add nsw i32 %26, 1, !dbg !1245
  store i32 %inc35, ptr %j, align 4, !dbg !1245
  br label %for.cond22, !dbg !1246, !llvm.loop !1247

for.end36:                                        ; preds = %for.cond22
  %27 = load i64, ptr %temp, align 8, !dbg !1249
  store i64 %27, ptr %ran, align 8, !dbg !1250
  %28 = load i32, ptr %i, align 4, !dbg !1251
  %sub37 = sub nsw i32 %28, 1, !dbg !1251
  store i32 %sub37, ptr %i, align 4, !dbg !1251

if.then42:                                        ; preds = %for.end36
  %31 = load i64, ptr %ran, align 8, !dbg !1259
  %shl43 = shl i64 %31, 1, !dbg !1260
  %32 = load i64, ptr %ran, align 8, !dbg !1261
  %cmp44 = icmp slt i64 %32, 0, !dbg !1262
  %33 = zext i1 %cmp44 to i64, !dbg !1263
  %cond45 = select i1 %cmp44, i64 7, i64 0, !dbg !1263
  %xor46 = xor i64 %shl43, %cond45, !dbg !1264
  store i64 %xor46, ptr %ran, align 8, !dbg !1265
  br label %if.end47, !dbg !1266

if.end47:                                         ; preds = %if.then42, %for.end36
  br label %while.cond19, !dbg !1221, !llvm.loop !1267

while.end48:                                      ; preds = %while.cond19
  %34 = load i64, ptr %ran, align 8, !dbg !1269
  store i64 %34, ptr %retval, align 8, !dbg !1270
  br label %return, !dbg !1270

return:                                           ; preds = %while.end48, %if.then
  %35 = load i64, ptr %retval, align 8, !dbg !1271
  ret i64 %35, !dbg !1271
}

; Function Attrs: nocallback nofree nosync nounwind speculatable willreturn memory(none)
declare void @llvm.dbg.declare(metadata, metadata, metadata) #1
  store i64 %conv3, ptr %arrayidx, align 8, !dbg !1302
  br label %if.end, !dbg !1300

if.end:                                           ; preds = %if.then, %entry
  ret void, !dbg !1303
}

; Function Attrs: convergent mustprogress noinline norecurse nounwind optnone
define dso_local void @_Z6updatePyy(ptr noalias noundef %Table, i64 noundef %TableSize) #2 !dbg !1304 {
entry:
  %Table.addr = alloca ptr, align 8
  %TableSize.addr = alloca i64, align 8
  %j = alloca i32, align 4
  %ran = alloca i64, align 8
  %i = alloca i64, align 8
  store ptr %Table, ptr %Table.addr, align 8
  call void @llvm.dbg.declare(metadata ptr %Table.addr, metadata !1308, metadata !DIExpression()), !dbg !1309
  store i64 %TableSize, ptr %TableSize.addr, align 8
  call void @llvm.dbg.declare(metadata ptr %TableSize.addr, metadata !1310, metadata !DIExpression()), !dbg !1311
  call void @llvm.dbg.declare(metadata ptr %j, metadata !1312, metadata !DIExpression()), !dbg !1313
  %0 = call i32 @llvm.nvvm.read.ptx.sreg.tid.x(), !dbg !1314
  store i32 %0, ptr %j, align 4, !dbg !1313
  call void @llvm.dbg.declare(metadata ptr %ran, metadata !1316, metadata !DIExpression()), !dbg !1317
  %1 = load i64, ptr %TableSize.addr, align 8, !dbg !1318
  %mul = mul i64 4, %1, !dbg !1318
  %div = udiv i64 %mul, 128, !dbg !1319

for.body:                                         ; preds = %for.cond
  %5 = load i64, ptr %ran, align 8, !dbg !1333
  %shl = shl i64 %5, 1, !dbg !1335
  %6 = load i64, ptr %ran, align 8, !dbg !1336
  %cmp5 = icmp slt i64 %6, 0, !dbg !1337
  %7 = zext i1 %cmp5 to i64, !dbg !1338
  %cond = select i1 %cmp5, i64 7, i64 0, !dbg !1338
  %xor = xor i64 %shl, %cond, !dbg !1339
  store i64 %xor, ptr %ran, align 8, !dbg !1340
  %8 = load ptr, ptr %Table.addr, align 8, !dbg !1341
  %9 = load i64, ptr %ran, align 8, !dbg !1342
  %10 = load i64, ptr %TableSize.addr, align 8, !dbg !1343
  %sub = sub i64 %10, 1, !dbg !1344
  %and = and i64 %9, %sub, !dbg !1345
  %arrayidx = getelementptr inbounds i64, ptr %8, i64 %and, !dbg !1341
  %11 = load i64, ptr %ran, align 8, !dbg !1346
  %call6 = call noundef i64 @_ZL9atomicXorPyy(ptr noundef %arrayidx, i64 noundef %11) #3, !dbg !1347
  br label %for.inc, !dbg !1348

for.inc:                                          ; preds = %for.body
  %12 = load i64, ptr %i, align 8, !dbg !1349
  %inc = add i64 %12, 1, !dbg !1349
  store i64 %inc, ptr %i, align 8, !dbg !1349
  br label %for.cond, !dbg !1350, !llvm.loop !1351

for.end:                                          ; preds = %for.cond
  %0 = load ptr, ptr %address.addr, align 8, !dbg !1363
  %1 = load i64, ptr %val.addr, align 8, !dbg !1364
  store ptr %0, ptr %__p.addr.i, align 8
  call void @llvm.dbg.declare(metadata ptr %__p.addr.i, metadata !1365, metadata !DIExpression()), !dbg !1368
  store i64 %1, ptr %__v.addr.i, align 8
  call void @llvm.dbg.declare(metadata ptr %__v.addr.i, metadata !1370, metadata !DIExpression()), !dbg !1371
  %2 = load ptr, ptr %__p.addr.i, align 8, !dbg !1372
  %3 = load i64, ptr %__v.addr.i, align 8, !dbg !1373
  %4 = atomicrmw xor ptr %2, i64 %3 seq_cst, align 8, !dbg !1374
  ret i64 %4, !dbg !1375
}

; Function Attrs: nocallback nofree nosync nounwind speculatable willreturn memory(none)
declare noundef i32 @llvm.nvvm.read.ptx.sreg.ctaid.x() #1

; Function Attrs: nocallback nofree nosync nounwind speculatable willreturn memory(none)
declare noundef i32 @llvm.nvvm.read.ptx.sreg.ntid.x() #1

; Function Attrs: nocallback nofree nosync nounwind speculatable willreturn memory(none)
declare noundef i32 @llvm.nvvm.read.ptx.sreg.tid.x() #1

attributes #0 = { convergent mustprogress noinline nounwind optnone "frame-pointer"="all" "no-trapping-math"="true" "stack-protector-buffer-size"="8" "target-cpu"="sm_80" "target-features"="+ptx78,+sm_80" }
attributes #1 = { nocallback nofree nosync nounwind speculatable willreturn memory(none) }
attributes #2 = { convergent mustprogress noinline norecurse nounwind optnone "frame-pointer"="all" "no-trapping-math"="true" "stack-protector-buffer-size"="8" "target-cpu"="sm_80" "target-features"="+ptx78,+sm_80" }
attributes #3 = { convergent nounwind }

!635 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !636, file: !638, line: 127)
!636 = !DIDerivedType(tag: DW_TAG_typedef, name: "div_t", file: !320, line: 63, baseType: !637)
!637 = !DICompositeType(tag: DW_TAG_structure_type, file: !320, line: 59, size: 64, flags: DIFlagFwdDecl, identifier: "_ZTS5div_t")
!638 = !DIFile(filename: "/usr/lib64/gcc/x86_64-suse-linux/12/../../../../include/c++/12/cstdlib", directory: "")
!639 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !640, file: !638, line: 128)
!640 = !DIDerivedType(tag: DW_TAG_typedef, name: "ldiv_t", file: !320, line: 71, baseType: !641)
!641 = distinct !DICompositeType(tag: DW_TAG_structure_type, file: !320, line: 67, size: 128, flags: DIFlagTypePassByValue, elements: !642, identifier: "_ZTS6ldiv_t")
!642 = !{!643, !644}
!643 = !DIDerivedType(tag: DW_TAG_member, name: "quot", scope: !641, file: !320, line: 69, baseType: !230, size: 64)
!644 = !DIDerivedType(tag: DW_TAG_member, name: "rem", scope: !641, file: !320, line: 70, baseType: !230, size: 64, offset: 64)
!645 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !646, file: !638, line: 130)
!646 = !DISubprogram(name: "abort", scope: !320, file: !320, line: 730, type: !647, flags: DIFlagPrototyped | DIFlagNoReturn, spFlags: 0)
!647 = !DISubroutineType(types: !648)
!648 = !{null}
!649 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !650, file: !638, line: 132)
!650 = !DISubprogram(name: "aligned_alloc", scope: !320, file: !320, line: 724, type: !651, flags: DIFlagPrototyped, spFlags: 0)
!651 = !DISubroutineType(types: !652)
!652 = !{!653, !654, !654}
!653 = !DIDerivedType(tag: DW_TAG_pointer_type, baseType: null, size: 64)
!654 = !DIDerivedType(tag: DW_TAG_typedef, name: "size_t", file: !655, line: 46, baseType: !656)
!655 = !DIFile(filename: "/soft/compilers/llvm/release-17.0.6/lib/clang/17/include/stddef.h", directory: "")
!656 = !DIBasicType(name: "unsigned long", size: 64, encoding: DW_ATE_unsigned)
!657 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !658, file: !638, line: 134)
!658 = !DISubprogram(name: "atexit", scope: !320, file: !320, line: 734, type: !659, flags: DIFlagPrototyped, spFlags: 0)
!659 = !DISubroutineType(types: !660)
!660 = !{!132, !661}
!864 = !DISubprogram(name: "acoshf", linkageName: "_ZL6acoshff", scope: !861, file: !861, line: 61, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!865 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !866, file: !862, line: 445)
!866 = !DISubprogram(name: "asinf", linkageName: "_ZL5asinff", scope: !861, file: !861, line: 63, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!867 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !868, file: !862, line: 446)
!868 = !DISubprogram(name: "asinhf", linkageName: "_ZL6asinhff", scope: !861, file: !861, line: 65, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!869 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !870, file: !862, line: 447)
!870 = !DISubprogram(name: "atan2f", linkageName: "_ZL6atan2fff", scope: !861, file: !861, line: 68, type: !148, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!871 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !872, file: !862, line: 448)
!872 = !DISubprogram(name: "atanf", linkageName: "_ZL5atanff", scope: !861, file: !861, line: 69, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!873 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !874, file: !862, line: 449)
!874 = !DISubprogram(name: "atanhf", linkageName: "_ZL6atanhff", scope: !861, file: !861, line: 71, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!875 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !876, file: !862, line: 450)
!876 = !DISubprogram(name: "cbrtf", linkageName: "_ZL5cbrtff", scope: !861, file: !861, line: 73, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!877 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !878, file: !862, line: 451)
!878 = !DISubprogram(name: "ceilf", linkageName: "_ZL5ceilff", scope: !861, file: !861, line: 75, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!879 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !880, file: !862, line: 452)
!880 = !DISubprogram(name: "copysignf", linkageName: "_ZL9copysignfff", scope: !861, file: !861, line: 79, type: !148, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!881 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !882, file: !862, line: 453)
!882 = !DISubprogram(name: "cosf", linkageName: "_ZL4cosff", scope: !861, file: !861, line: 83, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!883 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !884, file: !862, line: 454)
!884 = !DISubprogram(name: "coshf", linkageName: "_ZL5coshff", scope: !861, file: !861, line: 87, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!885 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !886, file: !862, line: 455)
!886 = !DISubprogram(name: "erfcf", linkageName: "_ZL5erfcff", scope: !861, file: !861, line: 96, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!887 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !888, file: !862, line: 456)
!888 = !DISubprogram(name: "erff", linkageName: "_ZL4erfff", scope: !861, file: !861, line: 101, type: !135, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit)
!889 = !DIImportedEntity(tag: DW_TAG_imported_declaration, scope: !127, entity: !890, file: !862, line: 457)
!1118 = !{!132, !1119, !132}
!1119 = !DIDerivedType(tag: DW_TAG_pointer_type, baseType: !1109, size: 64)
!1120 = !DIImportedEntity(tag: DW_TAG_imported_module, scope: !1121, entity: !1122, file: !1124, line: 1428)
!1121 = !DINamespace(name: "chrono", scope: !127)
!1122 = !DINamespace(name: "chrono_literals", scope: !1123, exportSymbols: true)
!1123 = !DINamespace(name: "literals", scope: !127, exportSymbols: true)
!1124 = !DIFile(filename: "/usr/lib64/gcc/x86_64-suse-linux/12/../../../../include/c++/12/bits/chrono.h", directory: "")
!1125 = !{ptr @_Z9initTablePyy, !"kernel", i32 1}
!1126 = !{ptr @_Z6updatePyy, !"kernel", i32 1}
!1127 = !{!"clang version 17.0.6 (https://github.com/llvm/llvm-project.git 6009708b4367171ccdbf4b5905cb6a803753fe18)"}
!1128 = !{!"clang version 3.8.0 (tags/RELEASE_380/final)"}
!1129 = distinct !DISubprogram(name: "HPCC_starts", linkageName: "_Z11HPCC_startsx", scope: !10, file: !10, line: 21, type: !1130, scopeLine: 22, flags: DIFlagPrototyped, spFlags: DISPFlagDefinition, unit: !6, retainedNodes: !1133)
!1130 = !DISubroutineType(types: !1131)
!1131 = !{!1132, !9}
!1132 = !DIDerivedType(tag: DW_TAG_typedef, name: "u64Int", file: !10, line: 7, baseType: !802)
!1133 = !{}
!1134 = !DILocalVariable(name: "n", arg: 1, scope: !1129, file: !10, line: 21, type: !9)
!1135 = !DILocation(line: 21, column: 27, scope: !1129)
!1136 = !DILocalVariable(name: "i", scope: !1129, file: !10, line: 23, type: !132)
!1137 = !DILocation(line: 23, column: 7, scope: !1129)
!1138 = !DILocalVariable(name: "j", scope: !1129, file: !10, line: 23, type: !132)
!1139 = !DILocation(line: 23, column: 10, scope: !1129)
!1140 = !DILocalVariable(name: "m2", scope: !1129, file: !10, line: 24, type: !1141)
!1141 = !DICompositeType(tag: DW_TAG_array_type, baseType: !1132, size: 4096, elements: !1142)
!1142 = !{!1143}
!1143 = !DISubrange(count: 64)
!1296 = !DILocation(line: 62, column: 11, scope: !1295)
!1297 = !DILocation(line: 62, column: 9, scope: !1295)
!1298 = !DILocation(line: 62, column: 7, scope: !1272)
!1299 = !DILocation(line: 62, column: 33, scope: !1295)
!1300 = !DILocation(line: 62, column: 22, scope: !1295)
!1301 = !DILocation(line: 62, column: 28, scope: !1295)
!1302 = !DILocation(line: 62, column: 31, scope: !1295)
!1303 = !DILocation(line: 63, column: 1, scope: !1272)
!1304 = distinct !DISubprogram(name: "update", linkageName: "_Z6updatePyy", scope: !10, file: !10, line: 65, type: !1305, scopeLine: 66, flags: DIFlagPrototyped, spFlags: DISPFlagDefinition, unit: !6, retainedNodes: !1133)
!1305 = !DISubroutineType(types: !1306)
!1306 = !{null, !1307, !1276}
!1307 = !DIDerivedType(tag: DW_TAG_restrict_type, baseType: !1275)
!1308 = !DILocalVariable(name: "Table", arg: 1, scope: !1304, file: !10, line: 65, type: !1307)
!1309 = !DILocation(line: 65, column: 45, scope: !1304)
!1310 = !DILocalVariable(name: "TableSize", arg: 2, scope: !1304, file: !10, line: 65, type: !1276)
!1311 = !DILocation(line: 65, column: 65, scope: !1304)
!1312 = !DILocalVariable(name: "j", scope: !1304, file: !10, line: 67, type: !132)
!1313 = !DILocation(line: 67, column: 7, scope: !1304)
!1314 = !DILocation(line: 53, column: 3, scope: !1291, inlinedAt: !1315)
!1315 = distinct !DILocation(line: 67, column: 11, scope: !1304)
!1316 = !DILocalVariable(name: "ran", scope: !1304, file: !10, line: 68, type: !1132)
!1317 = !DILocation(line: 68, column: 10, scope: !1304)
!1318 = !DILocation(line: 68, column: 30, scope: !1304)
!1319 = !DILocation(line: 68, column: 37, scope: !1304)
!1320 = !DILocation(line: 68, column: 45, scope: !1304)
!1321 = !DILocation(line: 68, column: 43, scope: !1304)
!1322 = !DILocation(line: 68, column: 16, scope: !1304)
!1323 = !DILocalVariable(name: "i", scope: !1324, file: !10, line: 69, type: !1132)
!1324 = distinct !DILexicalBlock(scope: !1304, file: !10, line: 69, column: 3)
!1325 = !DILocation(line: 69, column: 15, scope: !1324)
!1326 = !DILocation(line: 69, column: 8, scope: !1324)
!1327 = !DILocation(line: 69, column: 20, scope: !1328)
!1328 = distinct !DILexicalBlock(scope: !1324, file: !10, line: 69, column: 3)
!1329 = !DILocation(line: 69, column: 22, scope: !1328)
!1330 = !DILocation(line: 69, column: 29, scope: !1328)
!1331 = !DILocation(line: 69, column: 21, scope: !1328)
!1332 = !DILocation(line: 69, column: 3, scope: !1324)
!1333 = !DILocation(line: 70, column: 12, scope: !1334)
!1334 = distinct !DILexicalBlock(scope: !1328, file: !10, line: 69, column: 40)
!1335 = !DILocation(line: 70, column: 16, scope: !1334)
!1336 = !DILocation(line: 70, column: 34, scope: !1334)
!1337 = !DILocation(line: 70, column: 38, scope: !1334)
!1338 = !DILocation(line: 70, column: 25, scope: !1334)
!1339 = !DILocation(line: 70, column: 22, scope: !1334)
!1340 = !DILocation(line: 70, column: 9, scope: !1334)
!1341 = !DILocation(line: 71, column: 16, scope: !1334)
!1342 = !DILocation(line: 71, column: 22, scope: !1334)
!1343 = !DILocation(line: 71, column: 29, scope: !1334)
!1344 = !DILocation(line: 71, column: 38, scope: !1334)
!1345 = !DILocation(line: 71, column: 26, scope: !1334)
!1346 = !DILocation(line: 71, column: 44, scope: !1334)
!1347 = !DILocation(line: 71, column: 5, scope: !1334)
!1348 = !DILocation(line: 72, column: 3, scope: !1334)
!1349 = !DILocation(line: 69, column: 36, scope: !1328)
!1350 = !DILocation(line: 69, column: 3, scope: !1328)
!1351 = distinct !{!1351, !1332, !1352, !1155}
!1352 = !DILocation(line: 72, column: 3, scope: !1324)
!1353 = !DILocation(line: 73, column: 1, scope: !1304)
!1354 = distinct !DISubprogram(name: "atomicXor", linkageName: "_ZL9atomicXorPyy", scope: !1355, file: !1355, line: 122, type: !1356, scopeLine: 123, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit | DISPFlagDefinition, unit: !6, retainedNodes: !1133)
!1355 = !DIFile(filename: "/soft/compilers/cudatoolkit/cuda-11.8.0/include/sm_32_atomic_functions.hpp", directory: "")
!1356 = !DISubroutineType(types: !1357)
!1357 = !{!802, !1358, !802}
!1358 = !DIDerivedType(tag: DW_TAG_pointer_type, baseType: !802, size: 64)
!1359 = !DILocalVariable(name: "address", arg: 1, scope: !1354, file: !1355, line: 122, type: !1358)
!1360 = !DILocation(line: 122, column: 82, scope: !1354)
!1361 = !DILocalVariable(name: "val", arg: 2, scope: !1354, file: !1355, line: 122, type: !802)
!1362 = !DILocation(line: 122, column: 110, scope: !1354)
!1363 = !DILocation(line: 124, column: 27, scope: !1354)
!1364 = !DILocation(line: 124, column: 36, scope: !1354)
!1365 = !DILocalVariable(name: "__p", arg: 1, scope: !1366, file: !1367, line: 774, type: !1358)
!1366 = distinct !DISubprogram(name: "__ullAtomicXor", linkageName: "_ZL14__ullAtomicXorPyy", scope: !1367, file: !1367, line: 774, type: !1356, scopeLine: 775, flags: DIFlagPrototyped, spFlags: DISPFlagLocalToUnit | DISPFlagDefinition, unit: !6, retainedNodes: !1133)
!1367 = !DIFile(filename: "/soft/compilers/llvm/release-17.0.6/lib/clang/17/include/__clang_cuda_device_functions.h", directory: "")
